@tailwind base;
@tailwind components;
@tailwind utilities;



.clip-star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 20px;
  width: 20px;
}

#loading {
  @apply absolute z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

#wrapper {
  @apply min-h-screen flex flex-col text-sm max-w-3xl mx-auto;
}

#site-header {
  @apply fixed z-20 inset-x-0 shadow bg-white max-w-3xl mx-auto;
}

.menu-icon {
  @apply absolute left-2 top-1/2 -translate-y-1/2;
}

.close-icon {
  @apply absolute -right-6 mt-3 block mx-auto bg-sky-500;
}

.menu-panel {
  @apply bg-white shadow-lg z-30 fixed inset-y-0 border-l-4 border-l-sky-500;
}

.menu-list {
  @apply flex flex-col w-60 divide-y py-3 px-6;
}

.menu-list .item-link {
  @apply block p-3;
}

.card-list {
  @apply grid grid-cols-2 gap-2 m-4;
}

.game-section {
  @apply bg-white pb-4;
}

.section-header {
  @apply flex mx-4 justify-between py-4;
}

.section-list {
  @apply grid grid-cols-3 gap-4 mx-4 text-center
}